/* ----------------------- home ----------------------- */

* {
    font-family: Roboto, serif;
    font-size: 12px;
}

body {
    width: auto;
    background-color: lightblue;
}

nav {
    margin-bottom: 10px;
    padding: 1px;
}

li {
    display: inline-block;
    text-align: center;
}

li a {
    text-decoration: none;
    padding-left: 20px;
}

#wrapper {
    text-align: center;
    width: 1100px;
    margin: auto;
}

#picHolder {
    /*background-color: green;*/
    height: 350px;
}

/* ----------------------- zoekveld (evenementen) ----------------------- */

#zoekVeld {
    margin: auto auto 20px;
    border: 1px solid black;
    width: 620px;
    padding: 20px;
}

table.zoekoverzicht {
    display: inline-block;
    border-collapse: collapse;
    border: 1px solid black;
}

table.zoekoverzicht td {
    border-top: 1px solid black;
    padding: 10px;
    width: 200px;
    height: 60px;
    /*color: red;*/
}

table.zoekoverzicht tr {

}

table.zoekoverzicht th {
    padding: 10px;
}

/* ----------------------- evenementen overzicht ----------------------- */

#overzichtHouder {
    /*background-color: #0000bf;*/
    width: 1100px;
    margin: auto;
}

table.zenderoverzicht {
    display: inline-block;
    border-collapse: collapse;
    border: 1px solid black;
}

table.zenderoverzicht td {
    border-top: 1px solid black;
    padding: 10px;
    width: 200px;
    height: 60px;
    /*color: red;*/
}

table.zenderoverzicht tr {

}

table.zenderoverzicht th {
    padding: 10px;
}

/* ----------------------- evenementen overzicht ----------------------- */

#addAccount {
    display: inline-block;
    margin-right: 10px;
    /*background-color: red;*/
    /*height: 10px;*/
    /*width: 10px;*/
}

#addEvent {
    display: inline-block;
}

#addFuncties {
    display: inline-block;
    margin-right: 10px;
}

/* ----------------------- login form ----------------------- */

.login {
    width: 400px;
    background-color: #ffffff;
    margin: 100px auto;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 25px;
}

.login h1 {
    text-align: center;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
    background-color: white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.login form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    background-color: white;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.login form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #3274d6;
    color: #ffffff;
}

.login form input[type="password"], .login form input[type="text"] {
    width: 310px;
    height: 48px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
    background-color: white;
}

.login form input[name="login"] {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #3274d6;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
}

.login form a#registreren {
    width: 100%;
    padding: 15px;
    border-top: 1px solid white;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    background-color: #3274d6;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.login form input[type="submit"]:hover, .login form a#registreren:hover {
    background-color: #2868c7;
}

.fa-user, .fa-lock, .fa-envelope {
    background-color: #3274d6;
}

/* ----------------------- register form ----------------------- */

.registreren {
    width: 400px;
    background-color: #ffffff;
    margin: 100px auto;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 25px;
}

.registreren h1 {
    text-align: center;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
    background-color: white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.registreren form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    background-color: white;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.registreren form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #3274d6;
    color: #ffffff;
}

.registreren form input[type="password"], .registreren form input[type="text"] {
    width: 310px;
    height: 48px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
    background-color: white;
}

.registreren form input[name="login"] {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #3274d6;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
}

.registreren form input[name="registreren"] {
    width: 100%;
    padding: 15px;
    border-top: 1px solid white;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    background-color: #3274d6;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
}

.registreren form a#goback {
    width: 100%;
    padding: 15px;
    border-top: 1px solid white;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    background-color: #3274d6;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.registreren form input[type="submit"]:hover, .registreren form a#goback:hover {
    background-color: #2868c7;
}

/* ----------------------- add account, functie, event ----------------------- */

.addAccount, .addFunctie, .addEvent {
    width: 400px;
    background-color: #ffffff;
    margin: 100px auto;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 25px;
}

.addAccount h1, .addFunctie h1, .addEvent h1 {
    text-align: center;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
    background-color: white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.addAccount form, .addFunctie form, .addEvent form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    background-color: white;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.addAccount form label, .addFunctie form label, .addEvent form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #3274d6;
    color: #ffffff;
}

.addAccount form input[type="password"], .addAccount form input[type="text"], .addFunctie form input[type="password"],
.addFunctie form input[type="text"], .addEvent form input[type="password"], .addEvent form input[type="text"] {
    width: 310px;
    height: 48px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
    background-color: white;
}

.addAccount form input[name="login"], .addFunctie form input[name="login"], .addEvent form input[name="login"] {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #3274d6;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
}

.addAccount form input[name="addAccountKnop"], .addFunctie form input[name="addFunctieKnop"], .addEvent form input[name="addEventKnop"] {
    width: 100%;
    padding: 15px;
    border-top: 1px solid white;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    background-color: #3274d6;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.addAccount form input[type="submit"]:hover, .addFunctie form input[type="submit"]:hover, .addEvent form input[type="submit"]:hover {
    background-color: #2868c7;
}